NEXTAUTH_URL: "https://your-preprod-app-url.run.app"
GOOGLE_CLIENT_ID: "your-google-client-id.apps.googleusercontent.com"
FIREBASE_PROJECT_ID: "your-firebase-project-id"
FIREBASE_CLIENT_EMAIL: "your-firebase-client-email@your-project.iam.gserviceaccount.com"
NEXT_PUBLIC_FIREBASE_API_KEY: "your-firebase-api-key"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN: "your-firebase-project-id.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID: "your-firebase-project-id"
